#header {
    background-color: #66CCFF;
    color: white;
    text-align: center;
}

body {
    background-color: #EEEEEEEE;
}

#conteiner {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 12px;
}

#navegation {
    width: 180px;
    float: left;
}

#main {
    width: 520px;
    float: right;
}

#footer {
    clear: both;
    text-align: center;
    padding: 12px;
}