*{
  /*Reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /*Body de tela inteira*/
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}