<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  <header>
    <div id="logo-menu">
      <img src="../src/logo.png" alt="">
    </div>
    <nav id="menu">
      <div class="itens-menu">Item 1</div>
      <div class="itens-menu">Item 2</div>
      <div class="itens-menu">Item 3</div>
    </nav>
  </header>

  <main>

    <section class="l">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At aut, dicta et, est dolorum, suscipit voluptatem voluptate doloremque odit neque necessitatibus aliquid doloribus quis dolorem id ex temporibus asperiores beatae.</p>
    </section>

    <section class="c">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, earum neque autem numquam recusandae tempora aut error natus et, nemo, dolores commodi sunt maxime animi rerum nihil reiciendis saepe vel corporis! Modi unde eos sunt nam dolores nesciunt rerum obcaecati labore voluptas expedita distinctio voluptate, nisi quaerat voluptatibus vol ptatem saepe!</p>
    </section>'
    
    <section class="r">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque numquam ipsum laborum veniam placeat deleniti voluptate, doloribus consequuntur soluta impedit fugiat natus laudantium suscipit. Dolor veniam aut consectetur saepe sit.</p>
    </section>
    
  </main>

  <footer>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed impedit voluptatem incidunt, rem praesentium adipisci blanditiis dolores numquam qui architecto beatae iusto ut tempore, dignissimos autem harum deleniti reprehenderit est!
  </footer>
</body>
</html>